<h2> List of ratings </h2>
<p> Total ratings: <%= @ratings.count %> </p>
<p> <%= link_to "Create new rating", new_rating_path%>
<div id="ratings">
    <ul>
        <% @ratings.each do |rating| %>
            <li> <%= render rating %> <%= button_to 'delete', rating, method: :delete, form: { data: {turbo_confirm: 'Do you want to delete?'}} %> </li>
        <% end %>
    </ul>
</div>