<div id="<%= dom_id brewery %>">
  <p>
    <h2>
      Name:
      <%= link_to brewery.name, brewery %>
    </h2>
  </p>

  <p>
    <i> 
      Established in
      <%= brewery.year %> 
    </i>
  </p>

  <p>
  <strong>Beers:</strong>
  <%= @brewery.beers.count %>
</p>

</div>
